<footer class="bg-dark pt-4 mt-auto container-fluid">

    <div class="row border-bottom border-white pb-4 mb-2">

        <div class="col-md-7 px-4 mt-3">

            <h2 class="h4"><a href="https://www.swarthmore.edu/libraries/digital-scholarship" class="text-white">{{ site.title }}</a></h2>
            <p class="text-white"><small>digitalscholarship@swarthmore.edu</small></p>
            <p class="text-white"><small><!-- rights statement-->Individual items may be under copyright, and copyright status is included in the metadata for each item if known. You are free to use each item in any way that is permitted by the copyright and related rights legislation that applies to your use.</small></p>
            <nav>
                <ul id="footer-nav" class="nav nav-pills ">
                    {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%}
                    {% for nav in navItems %}
                    <li class="nav-item">
                    {% if nav.stub %}
                        <a class="nav-link text-light{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
                    {%- else -%}
                    {% assign childStub = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' | first %}
                        <a class="nav-link text-light{% if page.url == childStub.stub %} active{% endif %}" href="{{ childStub.stub | relative_url }}">{{ nav.display_name }}</a>
                    {% endif %}
                    </li>
                    {%- endfor -%}
                </ul>
            </nav>

        </div>

        <div class="col-md-5 mt-3 text-center">

            {% if site.organization-logo-nav %}<p class="text-md-end">
                <a href="{{ site.organization-link }}" target="_blank" rel="noopener" title="{{ site.organization-name }} home">
                    <img id="footer-logo" class="img-fluid" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name }}">
                </a>
            </p>
            {% endif %}
            

        </div>

    </div>
    <div class="text-center pt-4 pb-3">
        <p class="h2 mb-3">
            <a href="https://www.swarthmore.edu/" title="{{ site.organization-name }} home" class="text-white">
                Swarthmore College
            </a>
        </p>
        <p class="text-white h6">Last updated {{ site.time | date: "%b %d, %Y" }}</p>
    </div>

</footer>